// Colors
$primary-color: rgb(173, 255, 47); // Bootstrap primary blue
$secondary-color: #6c757d; // Gray
$text-color: #212529; // Dark text
$background-color: #f8f9fa; // Light background
$gold-color: gold;
$text-color: white;

$third-color: #2c3e50;
$accent-color: #e74c3c;


// $primary-color: #2c3e50;
// $accent-color: #e74c3c;
// $text-color: white;
// $gold-color: gold;

// Font settings
$font-primary: "Arial", sans-serif;
$font-size-base: 16px;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

